*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(50, 50, 50, 1);
    height: 100px;
    margin-bottom: 80px;
}
.nav_buttons{
    margin: 0 auto;
    justify-content: center;
    display: flex;
}
.message{
    display: flex;
    justify-content: center;
}

.main_button{
    position: absolute;
    margin-top: 39px;
    margin-left: 260px;
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.main_button:hover{
    color: #ff4a4a;
    transition: 0.5s;
}

.teachers_button{
    padding-right: 20px;
    margin-top: 39px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.teachers_button:hover{
    color: #ff4a4a;
    transition: 0.5s;
}

.departments_button{
    margin-top: 39px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.departments_button:hover{
    color: #ff4a4a;
    transition: 0.5s;
}

.discipline_button{
    padding-left: 20px;
    margin-top: 39px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.discipline_button:hover{
    color: #ff4a4a;
    transition: 0.5s;
}

.logout_button{
    justify-content: center;
    display: flex;
    margin-left: 1400px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding-bottom: 500px;
}

.logout_button:hover{
    color: #ff4a4a;
    transition: 0.5s;
}

.login_button{
    position: absolute;
    margin-top: 39px;
    color: white;
    text-decoration: none;
    font-size: 22px;
}
.auth_title{
    margin-top: 10px;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.login_button:hover{
    color: #ff4a4a;
    transition: 0.5s;
}

.login_div{
    background-color: rgba(75, 75, 75, 1);
    width: 480px;
    height: 477px;
    margin: auto;
    border-radius: 20px;



}
.login_page{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

label{
    margin-top: 40px;
    color: white;
}
::placeholder{
    width: 100px;


}
input{
    margin-top: 10px;
    border-radius: 100px;
    width: 450px;
    height: 64px;
}
input::placeholder{

}
.button_login{
    background-color: rgb(74, 126, 64);
    margin-top: 60px;
    border-radius: 50px;
    width: 258px;
    height: 51px;
    font-size: 32px;
    color: #ffffff;
    border: none;
}




.discipline_list{
    margin-top: 50px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
}
p{
    font-size: 28px;
}
.discipline_departments_list{
    margin-top: -160px;
    margin-left: 850px;
    display: flex;
    flex-direction: column;
}
.discipline_text{
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: flex;

}


.departments_list{
    margin-top: 50px;
    margin-left: 100px;
    align-items: center;

}
.teachers_text{
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.teachers_list{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.teachers_birth_date{
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;

}

.teachers_role{
    flex-direction: column;
    display: flex;
    justify-content: center;

}

.teachers_all{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
}